@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Oswald:wght@400;700&display=swap');

.heading{
        font-family: Verdana , sans-serif;
        font-size: 5rem;
}

body{
    margin:1%;
    padding:2%;
    background-color:#555555 ;
    font-family: 'Montserrat', sans-serif;
    color: floralwhite;
    font-size: 1.4rem;
}

.img-toracebikesite{
    max-width: 30%;
}

.carousel-size{
    max-width: 60%;
    max-height: 40%;
}